<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tools.interviews.android.InterviewApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Interviews.tool"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android">

        <activity
            android:name="tools.interviews.android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tools.interviews.android.SettingsActivity"
            android:exported="false"
            android:parentActivityName="tools.interviews.android.MainActivity" />

        <activity
            android:name="tools.interviews.android.AddInterviewActivity"
            android:exported="false"
            android:parentActivityName="tools.interviews.android.MainActivity" />

        <activity
            android:name="tools.interviews.android.InterviewDetailActivity"
            android:exported="false"
            android:parentActivityName="tools.interviews.android.MainActivity" />

        <activity
            android:name="tools.interviews.android.EditInterviewActivity"
            android:exported="false"
            android:parentActivityName="tools.interviews.android.InterviewDetailActivity" />

        <activity
            android:name="tools.interviews.android.SignInActivity"
            android:exported="false"
            android:parentActivityName="tools.interviews.android.SettingsActivity" />

    </application>

</manifest>